<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>uisproma-web</display-name>
	
	<welcome-file-list>
		<welcome-file>app/home</welcome-file>
	</welcome-file-list>
	
	<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <security-constraint>
    	<web-resource-collection>
    		<web-resource-name>pages</web-resource-name>
    		<url-pattern>/app/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>ADMINISTRATOR</role-name>
    		<role-name>CURATOR</role-name>
    		<role-name>ATTACHE</role-name>
    		<role-name>REFEREE</role-name>
    	</auth-constraint>
    	<user-data-constraint>
        	<transport-guarantee>NONE</transport-guarantee>
    	</user-data-constraint>
    </security-constraint>
    <login-config>
	    <auth-method>FORM</auth-method>
	    <realm-name>security</realm-name>
	    <form-login-config>
	        <form-login-page>/app/login</form-login-page>
	        <form-error-page>/app/error</form-error-page>
	    </form-login-config>
	</login-config>
	
	<security-role>
		<role-name>ADMINISTRATOR</role-name>
	</security-role>
	<security-role>
		<role-name>CURATOR</role-name>
	</security-role>
	<security-role>
		<role-name>ATTACHE</role-name>
	</security-role>
	<security-role>
		<role-name>REFEREE</role-name>
	</security-role>
    
</web-app>